<ion-header>
  <ion-toolbar>
    <ion-title>Checkout</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-carts"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of this.items">
    <ion-item>
      <img src="{{item.imageURL}}" style="width: 5rem; height: 5rem;">
      
      <ion-card-header>
        <ion-card-title>{{item.itemname}}</ion-card-title>
        <ion-card-subtitle color="primary">
          {{item.description}}
        </ion-card-subtitle>
        <ion-card-subtitle class="ion-padding-vertical">
          <ion-label position="fixed" style="font-size: medium;">{{item.qty}}</ion-label>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-card>
 
  <ion-label *ngIf="this.items.length == 0" style="font-size: larger; margin: 20%;">You have no items in cart.</ion-label>

  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-button expand="block" size="large" color="warning">ORDER</ion-button>
  </ion-row>
  
</ion-content>