<ion-header>
  <ion-toolbar>
    <ion-title>Checkout</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-carts"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of this.items">
    <ion-item>
      <ion-card-header>
        <ion-card-title>{{item.itemname}} x {{item.qty}}</ion-card-title>
        
        <ion-card-subtitle class="ion-padding-vertical">
          <ion-label position="fixed" style="font-size: medium;">Price: ${{item.price}}</ion-label>
        </ion-card-subtitle>
        <ion-card-title> Total: ${{item.price * item.qty}}</ion-card-title>
      </ion-card-header>
    </ion-item>
  </ion-card>

  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-label position="fixed" style="font-size: medium;">TOTAL: ${{totalprice}}</ion-label>
  </ion-row>
 
  <ion-label *ngIf="this.items.length == 0" style="font-size: larger; margin: 20%;">You have no items in cart.</ion-label>


  <ion-grid class="ion-justify-content-center ion-padding-vertical">
    <ion-label class="ion-justify-content-center"> Select Delivery Type </ion-label>
    <ion-row class="ion-justify-content-center">
      <ion-button (click) = "toggle()" size="large" color="warning" [disabled]="!deliveryOptionToggle"> Pickup </ion-button>
      <ion-button (click) = "toggle()" size="large" color="warning" [disabled]="deliveryOptionToggle"> Delivery </ion-button>
    </ion-row>
  </ion-grid>
  
  <ion-grid *ngIf="deliveryOptionToggle">
      <ion-row>
        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input [(ngModel)]="deliveryAddress"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row >
        <ion-item>
          <ion-label position="floating">Apartment/House Number</ion-label>
          <ion-input [(ngModel)]="deliveryApartmentNumber" ></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label position="floating">Contact Number</ion-label>
          <ion-input [(ngModel)]="deliveryContact"></ion-input>
        </ion-item>
      </ion-row>
  </ion-grid>
  
  <ion-button (click) = "createOrder()" size="block" color="warning"> Confirm Order </ion-button>
  
</ion-content>