<ion-header>
  <ion-toolbar>
    <ion-title>
      Kitchens List
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content *ngIf="!this.kitchenExists">
  <ion-row class="ion-justify-content-center" style="margin-top: 30vh;">
    <ion-button size="large" style="height: fit-content;" (click)="addKitchenClicked()">
      <ion-grid>
      <ion-row class="ion-justify-content-center" >
        <ion-label style="font-size: 5rem;">+</ion-label>        
      </ion-row>
      <ion-row>
        <ion-label  style="font-size: 2rem;">Add Kitchen</ion-label>
      </ion-row>
      </ion-grid>
    </ion-button>
  </ion-row>
</ion-content>

<ion-content *ngIf="this.kitchenExists" class="ion-justify-content-center" [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="!this.kitchenExists" class="ion-justify-content-center" style="margin-top: 30vh;">
        <ion-button size="large" style="height: fit-content;" (click)="addKitchenClicked()">
          <ion-grid>
          <ion-row class="ion-justify-content-center" >
            <ion-label style="font-size: 5rem;">+</ion-label>        
          </ion-row>
          <ion-row>
            <ion-label  style="font-size: 2rem;">Add Kitchen</ion-label>
          </ion-row>
          </ion-grid>
        </ion-button>
    </ion-row>
    <ion-row *ngIf="this.kitchenExists" class="ion-justify-content-center"  style="margin-top: 30vh;">
      <ion-button size="large" style="height: fit-content;" (click)="addItemClicked()">
        <ion-grid>
        <ion-row class="ion-justify-content-center" >
          <ion-label style="font-size: 5rem;">+</ion-label>        
        </ion-row>
        <ion-row>
          <ion-label  style="font-size: 2rem;">Add Item</ion-label>
        </ion-row>
        </ion-grid>
      </ion-button>
  </ion-row>  </ion-grid>
</ion-content> -->