<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="kitchens">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Kitchens</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
