

 <ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        Favorites
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <!-- <ion-icon slot="icon-only" src="../../assets/checkmark-filled.svg"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/image1.png" alt="">
      </div>
    </div>
  </div>
  
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">Saif Khalid</h3>
      <h5 class="country">Ottawa, Canada</h5>
      <h6 class="ranking">Current ranking: <ion-chip>
        <ion-label>2</ion-label>
        </ion-chip>
      </h6>
    </div>
    <div class="ion-padding ion-text-center">
      Hey...!!! I'm your Master Chef here in ShareAMeal, you will enjoy the delicious traditional recepies.
    </div>
    <ion-button expand="full" color="primary">call Me</ion-button>
    <ion-button expand="full" color="secondary">@shareAMeal on facebbok</ion-button>
    <ion-button expand="full" color="secondary">@shareAMeal on instagram</ion-button>
    <ion-button expand="full" color="secondary">View profile at linkedin</ion-button>
  </div>
</ion-content>


