<ion-header>
  <ion-toolbar>
    <ion-title>
      Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.userType === 'customer'">
  <ion-card *ngFor="let order of this.orders">
    <ion-item>
      <img src={{order.kitchenImageURL}} style="width: 5rem; height: 5rem">
      <ion-card-header>
        <ion-card-title>{{order.kitchenName}}</ion-card-title>
        <ion-card-title color="success">
          {{order.customerId}}
        </ion-card-title>
      <ion-card-subtitle color="primary">
          Current Status: {{order.status}}
        </ion-card-subtitle>
        <ion-card-subtitle color="secondary">$ {{order.totalPrice}}</ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-card>
</ion-content>

<ion-content *ngIf="this.userType === 'cook' || this.userType === 'deliveryAgent'">
  <ion-card *ngIf="objectKeysLength(this.allOrderItems) > 0" class="orderConsolidateArea">
    <ion-card-header>
      <ion-card-subtitle>Total Quantities for confirmed orders</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let item of this.allOrderItems | keyvalue">
        <ion-label>{{item.key}}</ion-label>
        <ion-label color="info" slot="end">{{item.value}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let order of this.orders" [routerLink]="['/','order-details', order.id, this.userType]">
      <ion-card-header>
        <ion-card-title>{{order.customerName}}</ion-card-title>
        <ion-card-subtitle color="info">{{order.deliveryType}}</ion-card-subtitle>
        <ion-card-subtitle color="secondary">Order Total: ${{order.totalPrice}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-label color="success">
          Status: {{order.status}}
        </ion-label>
      </ion-card-content>
  </ion-card>
</ion-content>