<ion-content class="ion-justify-content-center" [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center"  style="margin-top: 30vh;">
        <ion-button size="large" style="height: fit-content;" (click)="addKitchenClicked()">
          <ion-grid>
          <ion-row class="ion-justify-content-center" >
            <ion-label style="font-size: 5rem;">+</ion-label>        
          </ion-row>
          <ion-row>
            <ion-label  style="font-size: 2rem;">Add Kitchen</ion-label>
          </ion-row>
          </ion-grid>
        </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>