<ion-header *ngIf="this.kitchenExists">
  <ion-toolbar>
    <ion-title>
      {{ this.kitchen.kitchenName }}
    </ion-title>
    <ion-buttons slot="end">
      Close<ion-toggle></ion-toggle>Open
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!this.kitchenExists">
  <ion-row class="ion-justify-content-center" style="margin-top: 35vh;">
    <ion-button size="large" color="warning" style="height: fit-content;" (click)="addKitchenClicked()">
      <ion-grid>
      <ion-row class="ion-justify-content-center" >
        <ion-label style="font-size: 4rem;">+</ion-label>        
      </ion-row>
      <ion-row>
        <ion-label  style="font-size: 1.5rem; margin-bottom: 1rem;">Create Kitchen</ion-label>
      </ion-row>
      </ion-grid>
    </ion-button>
  </ion-row>
</ion-content>

<ion-content *ngIf="this.kitchenExists" class="ion-justify-content-center" [fullscreen]="true">
  <ion-row *ngIf="this.kitchenExists" class="ion-justify-content-center"  style="margin-top: 30vh;">
      <ion-button size="large" color="warning" style="height: fit-content;" (click)="addItemClicked()">
        <ion-grid>
        <ion-row class="ion-justify-content-center" >
          <ion-label style="font-size: 4rem;">+</ion-label>        
        </ion-row>
        <ion-row>
          <ion-label  style="font-size: 1.5rem; margin-bottom: 1rem;">Add Item</ion-label>
        </ion-row>
        </ion-grid>
      </ion-button>
  </ion-row>
</ion-content>