<ion-header *ngIf="this.kitchenExists">
  <ion-toolbar>
    <ion-title>
      {{ this.kitchen.kitchenName }}
    </ion-title>
    <ion-buttons slot="end">
      Close<ion-toggle 
            checked='{{this.kitchen.kitchenIsOpen}}'
            (ionChange)="kitchenStatusChange()"></ion-toggle>Open
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!this.kitchenExists">
  <ion-row class="ion-justify-content-center" style="margin-top: 35vh;">
    <ion-button size="large" color="warning" style="height: fit-content;" (click)="addKitchenClicked()">
      <ion-grid>
      <ion-row class="ion-justify-content-center" >
        <ion-label style="font-size: 4rem;">+</ion-label>        
      </ion-row>
      <ion-row>
        <ion-label  style="font-size: 1.5rem; margin-bottom: 1rem;">Create Kitchen</ion-label>
      </ion-row>
      </ion-grid>
    </ion-button>
  </ion-row>
</ion-content>

<ion-header *ngIf="this.kitchenExists">
  <ion-button *ngIf="this.kitchenExists" style="font-size: 1rem; margin: 0.5rem" size="large" expand="full" color="warning" (click)="addItemClicked()">
    Add Item
  </ion-button>
</ion-header>
<ion-content *ngIf="this.kitchenExists" [fullscreen]="true">
    <ion-card *ngFor="let item of this.items" [routerLink]="['/','update-item', this.kitchenId, this.item.itemId]">
      <ion-item>
        <img src={{item.imageURL}} style="width: 5rem; height: 5rem;">
        <ion-card-header>
          <ion-card-title>{{item.itemname}}</ion-card-title>
          <ion-card-title color="success">
            $ {{item.price}}
          </ion-card-title>
          <ion-card-subtitle color="primary">
            {{item.description}}
          </ion-card-subtitle>
          <ion-card-subtitle color="secondary"><em>{{item.ingredients}}</em></ion-card-subtitle>
          </ion-card-header>
      </ion-item>
    </ion-card>
</ion-content>