<ion-header>
  <ion-toolbar>
    <ion-title>Order Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.userType === 'cook' && this.order && this.order.items">
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-label style="font-size: medium;">Order ID: {{this.orderId}}</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-label style="font-size: medium;">Status: {{this.order.status}}</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-label style="font-size: medium;">ITEMS</ion-label>
  </ion-row>
  <ion-card *ngFor="let item of this.order.items">
    <ion-item>
      <ion-card-header>
        <ion-card-title>{{item.itemname}} x {{item.qty}}</ion-card-title>
        
        <ion-card-subtitle class="ion-padding-vertical">
          <ion-label position="fixed" style="font-size: medium;">Price: ${{item.price}}</ion-label>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-card>
 
  <ion-row *ngIf="this.order.status !== 'Ready' && this.order.status !== 'Cancelled'" class="ion-justify-content-center" style="margin-top: 2vh;">
    <ion-button expand="block" size="large" color="medium" (click)="changeOrderStatus()">{{this.nextPossibleStatus}}</ion-button>
  </ion-row>

  <ion-row *ngIf="this.order.status === 'Ready'" class="ion-justify-content-center" style="margin-top: 2vh;">
    Order ready to be picked up
  </ion-row>

</ion-content>

<ion-content *ngIf="this.userType === 'deliveryAgent' && this.order && this.order.items">
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-label style="font-size: medium;">Order ID: {{this.orderId}}</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-label style="font-size: medium; font-weight: bold; color: blue;">Status: {{this.order.status}}</ion-label>
  </ion-row>

  <!-- Add extra UI and functions here for delivery agent -->
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-label style="font-size: medium; font-weight: bold; color: brown;">Pickup</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-label style="font-size: medium; font-weight: bold;">Address: {{this.pickupAddress}}</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-label style="font-size: medium; font-weight: bold;">Phone No: {{this.pickupPhoneNo}}</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-label style="font-size: medium; font-weight: bold; color: brown;">Dropoff</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-label style="font-size: medium; font-weight: bold;">Address: {{this.order.deliveryType}}</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-button style="font-size: medium; font-weight: bold;">Deliver</ion-button>
  </ion-row>
</ion-content>

<ion-content *ngIf="this.userType === 'customer' && this.order && this.order.items">
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-label style="font-size: medium;">Order ID: {{this.orderId}}</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-label style="font-size: medium;">Status: {{this.order.status}}</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-label style="font-size: medium;">ITEMS</ion-label>
  </ion-row>
  <ion-card *ngFor="let item of this.order.items">
    <ion-item>
      <ion-card-header>
        <ion-card-title>{{item.itemname}} x {{item.qty}}</ion-card-title>
        
        <ion-card-subtitle class="ion-padding-vertical">
          <ion-label position="fixed" style="font-size: medium;">Price: ${{item.price}}</ion-label>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-card>
 
  <ion-row *ngIf="this.order.status === 'Open' || this.order.status === 'Confirm'" class="ion-justify-content-center" style="margin-top: 2vh;">
    <ion-button expand="block" size="large" color="medium" (click)="cancelOrder()">CANCEL</ion-button>
  </ion-row>

  <ion-row *ngIf="this.order.status === 'Ready' || this.order.status === 'Preparing'" class="ion-justify-content-center" style="margin-top: 2vh;">
    Order already being Prepared
  </ion-row>
</ion-content>